<div class="popup-background close-popup">
    <div class="content-scrollable close-popup center-vertical">
        <div class="choose-board">
            <div class="choose-board-close-wrapper">
                <a href="#" class="close-popup-button choose-board-close close-popup" title="Close">
                    <span class="close-popup-button-icon close-popup"></span>
                </a>
            </div>
            <div class="close-button-container">
                <a href="#" class="close-button"></a>
            </div>
            <div class="choose-board-title">Add this cart to your flat</div>
            <div class="choose-board-subtitle">You have <span class="boards-count"></span> flats</div>
            <div class="choose-board-boards"></div>
            <div class="choose-board-links">
                <a href="#" class="choose-board-links-item right save">Save changes</a>
                <a href="#" class="choose-board-links-item secondary left create">+ Create a new flat</a>
            </div>
        </div>
    </div>
</div>
