<div class="popup-background close-popup">
    <div class="content-scrollable close-popup center-vertical">
        <div class="login-popup">
            <a href="#" class="close-popup-button login-popup-close close-popup" title="Close">
                <span class="close-popup-button-icon close-popup"></span>
            </a>
            <div class="login-popup-logo-wrapper">
                <span class="login-popup-logo"></span>
            </div>
            <div class="login-popup-title">Sign in to save your favorite design</div>
            <div class="login-popup-subtitle">Like anything what you like and keep in collections</div>
            <div class="login-popup-buttons">
                <a href="#login/dribbble" class="login-popup-button dribble" title="Login with Dribbble">
                    <span class="login-popup-button-icon"></span>
                </a>
                <a href="#login/facebook" class="login-popup-button facebook" title="Login with Facebook">
                    <span class="login-popup-button-icon"></span>
                </a>
                <a href="#login/google-oauth2" class="login-popup-button google-plus" title="Login with Google Plus">
                    <span class="login-popup-button-icon"></span>
                </a>
                <a href="#login/twitter" class="login-popup-button twitter" title="Login with Twitter">
                    <span class="login-popup-button-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>