<div class="popup-background close-popup">
    <div class="content-scrollable close-popup center-vertical">
        <div class="share-popup">
            <div class="share-popup-logo-wrapper">
                <span class="share-popup-logo"></span>
            </div>
            <div>
                <span class="share-popup-sublogo"></span>
            </div>
            <!--<div class="share-popup-title">2 345 people share our fun</div>-->
            <div class="share-popup-buttons">
                <a class="share-popup-button facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(baseUrl) %>" target="_blank"><span class="share-popup-button-icon"></span></a>
                <a class="share-popup-button google-plus" href="https://plus.google.com/share?url=<%= encodeURIComponent(baseUrl) %>" target="_blank"><span class="share-popup-button-icon"></span></a>
                <a class="share-popup-button twitter" href="https://twitter.com/share?url=<%= encodeURIComponent(baseUrl) %>&text=<%= encodeURIComponent('Flatun - Atomic inspirations') %>" target="_blank"><span class="share-popup-button-icon"></span></a>
                <a class="share-popup-button vk" href="http://vk.com/share.php?url=<%= encodeURIComponent(baseUrl) %>" target="_blank"><span class="share-popup-button-icon"></span></a>
            </div>
            <a href="#" class="share-popup-close-button close-popup">
                <span class="share-popup-close-button-icon close-popup"></span>
            </a>
        </div>
    </div>
</div>