<div class="top-sites-items"></div>
<div class="top-sites-user-links-wrapper">
    <span class="top-sites-user-links-show">
        <span class="top-sites-user-links-show-icon"></span>
    </span>
    <div class="top-sites-user-links">
        <span class="top-sites-user-links-triangle"></span>
        <div class="top-sites-user-links-header">
            <a href="#" class="top-sites-user-links-add-button" title="add">
                <span class="top-sites-user-links-add-button-icon"></span>
            </a>
            <a href="#" class="top-sites-user-links-add-close-button" title="close">
                <span class="top-sites-user-links-add-close-button-icon"></span>
            </a>
            My links
        </div>
        <div class="top-sites-user-links-add-form">
            <input type="text" class="top-sites-user-links-add-form-input" name="title" placeholder="Site name">
            <input type="text" class="top-sites-user-links-add-form-input" name="url" placeholder="http://">
            <button type="submit" class="top-sites-user-links-add-form-submit">add</button>
        </div>
        <div class="top-sites-user-links-content user-links"></div>
    </div>
</div>
