.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #F7F6F5;
    overflow-x: hidden;
    box-shadow: -25px 0px 30px -5px rgba(0, 0, 0, 0.1), -1px 0px 0px rgba(0, 0, 0, 0.01), 25px 0px 30px -5px rgba(0, 0, 0, 0.1), 1px 0px 0px rgba(0, 0, 0, 0.01);
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px !important;
    margin-left: 50px;
}