<template><style>:host {
      background-image: linear-gradient(to bottom, #4387fb, #4683ea);
      border-radius: var(--radiusSize);
      border: 1px solid #3079ed;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10);
      box-sizing: border-box;
      color: var(--cardColor);
      cursor: pointer;
      display: block;
      margin: var(--standardSize) 0;
      min-width: 5.14em;
      padding: 0.7em 0.57em;
      text-align: center;
      width: 100%;
    }
    :host:focus {
      box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
      outline: 0;
    }
    :host:hover {
      background-image: linear-gradient(to bottom, #4d90fe, #357ae8);
    }</style><content></content></template>