$background-from-color: #202124;
$background-to-color: #353A53;

$popup-overlay-background-from-color: transparentize(#202124, 0.15);
$popup-overlay-background-to-color: transparentize(#272b3e, 0.15);

$white-color: #fff;

$text-color: #000;
$title-text-color: #23252D;
$hover-text-color: #548CFF;
$dim-text-color: #7F8694;
$accessory-text-color: #8EABBC;

$sidebar-text-color: #A6B6C9;
$selected-sidebar-text-color: #fff;
$sidebar-thumb-background-color: #548cff;

$tile-background-color: #fff;

$content-border-color: #EDEDED;

$font-size: 14px;
$large-font-size: 42px;
$larger-font-size: 18px;
$smaller-font-size: 12px;

$regular-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$light-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$sidebar-width: 258px;
$sidebar-mini-width: 68px;

$popup-button-border-color: #d6dae0;
$popup-text-color: #666666;
$spinner-color: #548CFF;