body #player,
body .material .nav-item-container.selected,
body #player.material .player-rating-container {
  /*background-color: #fafafa;*/
  background-color: #343434;
}

body #nav_collections .nav-item-container:focus, 
body .nav-item-container:focus, 
body .nav-item-container:hover {
  /*background-color: #f0f0f0;*/
  background-color: #232323; 
}

html body.material,
body.material .cluster-text-protection::before,
body.material .cluster-text-protection {
  /*background-color: #f5f5f5;*/
  background-color: #323232
}

body core-header-panel#nav-container,
body .material-card,
body.material .nav-toolbar,
body #nav {
  /*background: #fff;*/
  background: #2C2C2C;
}

body .goog-menu,
body .now-playing-menu .goog-menuitem, 
body .now-playing-menu .goog-submenu, 
body .now-playing-menu .goog-submenu .goog-submenu-arrow, 
body .goog-menuitem,
body .material-detail-view .artist-details,
body .material-album-container,
body #queue-overlay
{
  /*background: #fff;*/
  background: #444;
}

body .now-playing-menu .goog-menuitem-highlight, 
body .now-playing-menu .goog-menuitem-hover, 
body .now-playing-menu .goog-submenu-open, 
body .now-playing-menu .goog-submenu-open .goog-submenu-arrow, 
body .now-playing-menu .goog-menuitem-highlight .goog-submenu-arrow, 
body .now-playing-menu .goog-menuitem-hover .goog-submenu-arrow, 
body .goog-menuitem-highlight, 
body .goog-menuitem-hover {
  /*background-color: #e8e8e8;*/
  background-color: #333;
}


body.material .song-row:hover, 
body.material .song-row:hover td,
body.material .goog-menu .goog-menuitem:hover,
body.material .song-row:hover .song-indicator, 
body.material .song-row:hover .title-right-items, 
body.material .song-row:hover .content, 
body.material .song-row:hover .column-content,
body.material .song-row:hover .song-indicator[data-playback-status="paused"], 
body.material .song-row:hover .song-indicator[data-playback-status="loading"], 
body.material .song-row:hover [data-col="index"] .hover-button[data-id="play"], 
body.material .song-row:hover [data-col="track"] .hover-button[data-id="play"]

{ 
  /*background-color: #eeeeee;*/
  background-color: #2c2c2c;
}


body.material .goog-menu .goog-menuseparator {
  /*background: #eeeeee!important;*/
  background: #2c2c2c!important;
}

body .material-playlist-container,
body .songlist-container,
body.material .song-row td, 
body.material .upload-progress-row td,
body.material .song-row .song-indicator, 
body.material .song-row .title-right-items, 
body.material .song-row .content, 
body.material .song-row .column-content,
body.material .song-row .song-indicator[data-playback-status="paused"], 
body.material .song-row .song-indicator[data-playback-status="loading"], 
body.material .song-row [data-col="index"] .hover-button[data-id="play"], 
body.material .song-row [data-col="track"] .hover-button[data-id="play"]

{
  /*background-color: #fff;*/
  background-color: #222;
}


body #queue-container {
  /*background: #fff;*/
  background: #1a1a1a;
}

body.material .song-row.selected-song-row .song-indicator, 
body.material .song-row.selected-song-row .title-right-items, 
body.material .song-row.selected-song-row .content, 
body.material .song-row.selected-song-row .column-content,
body.material .song-row.selected-song-row .song-indicator[data-playback-status="paused"], 
body.material .song-row.selected-song-row .song-indicator[data-playback-status="loading"], 
body.material .song-row.selected-song-row [data-col="index"] .hover-button[data-id="play"], 
body.material .song-row.selected-song-row [data-col="track"] .hover-button[data-id="play"]
{
  /*background-color: #f5f5f5*/
  background-color: #323232;
}


body.material .song-row.selected-song-row td {
  /*background-color: #f5f5f5!important;*/
  background-color: #323232!important;
}






body.material .nav-section-divider {
  /*border-color: #eeeeee;*/
  border-color: #222;
}

body #queue-overlay::after {
  /*border-color: transparent transparent white white;*/
  border-color: transparent transparent #444 #444;
}




body .song-table th,
body .song-table [data-col="index"], 
body .song-table [data-col="track"],
body .song-row.currently-playing td[data-col="title"] {
  /*color: #333;*/
  color: #CCC;
}

html body.material,
body .material-card[data-size="small"][data-type="imfl"] .title,
body.material .recommended-header,
body .material-card .title,
body .cluster.material-cluster .header h2.title,
body.material .nav-item-container,
body.material .song-table [data-col="title"], 
body.material .song-table.mini [data-col="song-details"] .song-title,
body #player.material .now-playing-actions sj-icon-button,
body.material .goog-menu .goog-menuitem .goog-menuitem-content,
body.material .goog-menuheader,
body.material a, 
body.material .simple-dialog a {
    /*color: #212121;*/
    color: #CCC;
}

body #player {
  /*color: #000;*/
  color: #FFF;
}

body .goog-menuitem-highlight .goog-menuitem-content .goog-submenu-arrow, 
body .goog-menuitem-highlight .goog-menuitem-content {
  /*color: #000!important*/
  color: #FFF!important
}


/******* misc **********/

body .fade-out:after {
  /*display: block;*/
  display: none;
}

body.material .song-row .song-indicator[data-playback-status="paused"],
body.material .song-row [data-col="index"] .hover-button[data-id="play"], 
body.material .song-row [data-col="track"] .hover-button[data-id="play"]
{
  /*background: no-repeat url(sprites_extended_d5d41cbe37133fce94c32acca2b8435c21125ddb.png) -1352px -170px;*/
  background-image: url(https://openmerchantaccount.com/img/google_music_sprites_1_inv.png);
  
   /*old  http://httpsimage.com/ */
  
  /*background-image: url(https://ssl.gstatic.com/play/music/fe/eb0748c002198dbcd0d3150d8eed38d6/sprites_extended_d5d41cbe37133fce94c32acca2b8435c21125ddb.png);*/
  /*background-image: url(https://openmerchantaccount.com/img/sprites_extended_d5d41cbe37133fce94c32acca2b8435c21125ddb_inv.png);*/
  
  /*https://ssl.gstatic.com/play/music/fe/2ca50bc3354ce3687e94b978e64448bf/sprites.png*/
  /*https://openmerchantaccount.com/img/sprites_inv.png */
}

body.material .song-row .song-indicator {
  /*background-image: url('ani_equalizer_black.gif');*/
  background-image: url('ani_equalizer_white.gif');
}

body.material .song-row .song-indicator[data-playback-status="loading"]{
  /*background:url('ani_loading_dark.gif');*/
  background:url('ani_loading_white.gif');
}

/*body core-header-panel #music-content.material {*/
  /*overflow-x: initial;*/
/*  overflow-x: hidden;*/
  /*overflow-y: visible;*/
/*  overflow-y: scroll;*/
/*}*/


/*queue-overlay*/


/* Scrollbar Styling */
/*::-webkit-scrollbar {*/
/*    width: 10px !important;*/
/*}*/
 
/*::-webkit-scrollbar-track {*/
/*    background-color: #ebebeb !important;*/
/*    -webkit-border-radius: 10px !important;*/
/*    border-radius: 10px !important;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    -webkit-border-radius: 10px;*/
/*    border-radius: 10px;*/
/*    background: #6d6d6d; */
/*}*/

/*::-webkit-scrollbar-corner {*/
/*    background: #000;*/
/*}*/


/*::-webkit-scrollbar {width: 10px;} ::-webkit-scrollbar-track {background-color: #888;} ::-webkit-scrollbar-thumb {border-radius: 5px; background: #444;}*/

::-webkit-scrollbar,
#queue-overlay::shadow ::-webkit-scrollbar,
#nav-container::shadow ::-webkit-scrollbar,
#content-container::shadow ::-webkit-scrollbar
{width: 10px;} 

::-webkit-scrollbar-track,
#queue-overlay::shadow ::-webkit-scrollbar-track,
#nav-container::shadow ::-webkit-scrollbar-track,
#content-container::shadow ::-webkit-scrollbar-track
/*{background-color: #ddd;}*/
{border-radius: 5px; background-color: #888;}

::-webkit-scrollbar-thumb,
#queue-overlay::shadow ::-webkit-scrollbar-thumb,
#nav-container::shadow ::-webkit-scrollbar-thumb,
#content-container::shadow ::-webkit-scrollbar-thumb
/*{border-radius: 5px; background: #888;}*/
{border-radius: 5px; background: #555;}


/*::-webkit-scrollbar {*/
/*    width: 12px;*/
/*    background: #000;*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*    background-color: rgba(255, 255, 255, .05);*/
/*}*/
/*::-webkit-scrollbar-track:hover {*/
/*    background-color: rgba(255, 255, 255, .1);*/
/*}*/
/*::-webkit-scrollbar-track:active {*/
/*    background-color: rgba(255, 255, 255, .07);*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*    background-color: rgba(255, 255, 255, .15);*/
/*    border-radius: 3px;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background-color: rgba(255, 255, 255, .2);*/
/*}*/
/*::-webkit-scrollbar-thumb:active {*/
/*    background-color: rgba(255, 255, 255, .18);*/
/*}*/


/*::-webkit-scrollbar {*/
/*    width: 12px;*/
/*    background: #FFF;*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*    background-color: rgba(0, 0, 0, .05);*/
/*}*/
/*::-webkit-scrollbar-track:hover {*/
/*    background-color: rgba(0, 0, 0, .1);*/
/*}*/
/*::-webkit-scrollbar-track:active {*/
/*    background-color: rgba(0, 0, 0, .07);*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*    background-color: rgba(0, 0, 0, .15);*/
/*    border-radius: 3px;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background-color: rgba(0, 0, 0, .2);*/
/*}*/
/*::-webkit-scrollbar-thumb:active {*/
/*    background-color: rgba(0, 0, 0, .18);*/
/*}*/
