<div class="container settingsBody fadeIn">

    <div class="changelogTitle">
        <div class="container hundredContainer">
            <h1>Surge has been updated!</h1>
        </div>
    </div>
    
    <div class="materialCard changelogCard animated fadeInUp">
        <div class="changelogHeader changelogHeaderGrey"><h2><strong>Version 2.0 is Here!</strong></h2></div>

        <div class="container hundredContainer">
            <div class="row">
                <div class="col-xs-6 changelogContent">
                    <h3>Improvements</h3>
                    <ul>
                        <li><strong>New Feature</strong>: Select City By ZIP Code (US Only)</li>
                            <ul>
                                <li>Set your weather location by entering the ZIP code of your city</li>   
                            </ul>
                        <li><strong>New Feature</strong>: Show/Hide Temperature Decimal Places</li>
                            <ul>
                                <li>Toggle between between a more accurate or more simplistic temperature view</li>   
                            </ul>
                        <li>Implemented cache layer to improve background update speed and reliability</li>
                        <li>Refactored codebase for improved performance, efficiency, and scalability</li>
                    </ul>
                </div>
                
                <div class="col-xs-6 changelogContent">
                    <h3>Release Notes</h3>
                    <ul>
                        <li>Surge 2.0 was developed with future releases in mind. Several aspects of the codebase were refactored
                        or rewritten entirely to allow for a faster and more efficient development workflow moving forward. 
                        Denoted by the major version increment, an unavoidable consequence of this rewrite was the introduction 
                        of breaking changes that affect backward compatibility.</li>
                        <li><strong>Breaking Change</strong>: Background Image</li>
                            <ul>
                                <li>Your background image may have disappeared. <strong>Please reset your background image from the settings page</strong> to resolve this issue.</li>
                            </ul>
                    </ul>
                </div>

            </div>

            <hr>
            
            <div class="row">
                <div class="col-xs-12 changelogContent">
                    <a href="#!/home"><button type="button" class="btn btn-grey">Got It!</button></a>
                </div>
            </div>

            
        </div>

    </div>

    <div class="materialCard changelogCard animated fadeInUp">
        <div class="changelogHeader"><h2>Changelog &ndash; Version 1.4.0</h2></div>

        <div class="container hundredContainer">
            <div class="row">
                <div class="col-xs-6 changelogContent">
                    <h3>Improvements</h3>
                    <ul>
                        <li><strong>New Feature</strong>: Set Background Image Update Interval</li>
                            <ul>
                                <li>Choose how often your background image will automatically update from the settings page</li>   
                                <li>Default update interval set to every 15 minutes</li>
                            </ul>
                        <li>Added additional save/home buttons to the settings page for a better user experience</li>
                        <li>Tweaked card styling for better visual balance</li>
                    </ul>
                </div>
                
                <div class="col-xs-6 changelogContent">
                    <h3>Bug Fixes</h3>
                    <ul>
                        <li>Fixed edge case where background image updating interval fell out of sync</li>
                    </ul>
                </div>

            </div>

            <hr>
            
            <div class="row">
                <div class="col-xs-12 changelogContent">
                    <a href="#!/home"><button type="button" class="btn btn-success">Got It!</button></a>
                </div>
            </div>

            
        </div>

    </div>
    
    <div class="materialCard changelogCard animated fadeInUp">
        <div class="changelogHeader"><h2>Changelog &ndash; Version 1.3.0</h2></div>

        <div class="container hundredContainer">
            <div class="row">
                <div class="col-xs-6 changelogContent">
                    <h3>Improvements</h3>
                    <ul>
                        <li><strong>New Feature</strong>: Main Card Styling and Themes</li>
                            <ul>
                                <li>Change the colour and transparency of the main card's individual components from the settings page</li>   
                                <li>Switch between the built-in themes or create a custom theme of your own</li>
                            </ul>
                        <li>Added card styling and wallpaper preview in settings for a better user experience</li>
                        <li>Reconfigured card size for better consistency when seconds are enabled</li>
                    </ul>
                </div>
                
                <div class="col-xs-6 changelogContent">
                    <h3>Bug Fixes</h3>
                    <ul>
                        <li>Fixed bug where pressing Control + F on a Mac would incorrectly trigger "Ahoy!"</li>
                    </ul>
                </div>

            </div>

            <hr>
            
            <div class="row">
                <div class="col-xs-12 changelogContent">
                    <a href="#/home"><button type="button" class="btn btn-success">Got It!</button></a>
                </div>
            </div>

            
        </div>

    </div>
    
    <div class="materialCard changelogCard animated fadeInUp">
        <div class="changelogHeader"><h2>Changelog &ndash; Version 1.2.2</h2></div>

        <div class="container hundredContainer">
            <div class="row">
                <div class="col-xs-6 changelogContent">
                    <h3>Improvements</h3>
                    <ul>
                        <li><strong>New Feature</strong>: "Ahoy!" &ndash; A Better Search Bar</li>
                            <ul>
                                <li>Activate "Ahoy!" by clicking on search in the top right or by pressing Ctrl/<span class="smallCmd">⌘</span> + F</li>
                                <li>By default, "Ahoy!" will perform a standard Google search with your query</li>
                                <li>Type a keyword before your query to search that site instead (e.g. "youtube trailers", "wolfram graph cosx")</li>
                            </ul>
                        <li>Cleaned up code for better performance</li>
                    </ul>
                </div>
                
                <div class="col-xs-6 changelogContent">
                    <h3>Bug Fixes</h3>
                    <ul>
                        <li>Fixed issue where cursor would show move icon when hovering on top of the weather tooltip</li>
                        <li>Fixed bug where IMDB query would duplicate input on search</li>
                        <li>Fixed <span class="smallCmd">⌘</span> + F shortcut to launch "Ahoy!" for Mac users</li>
                    </ul>
                </div>

            </div>

            <hr>
            
            <div class="row">
                <div class="col-xs-12 changelogContent">
                    <a href="#!/home"><button type="button" class="btn btn-success">Got It!</button></a>
                </div>
            </div>

            
        </div>

    </div>
    
    <div class="materialCard changelogCard animated fadeInUp">
        <div class="changelogHeader"><h2>Changelog &ndash; Version 1.1.1</h2></div>

        <div class="container hundredContainer">
            <div class="row">
                <div class="col-xs-6 changelogContent">
                    <h3>Improvements</h3>
                    <ul>
                        <li><strong>New Feature</strong>: Draggable Clock</li>
                            <ul>
                                <li>Click and drag anywhere on the clock to reposition it</li>
                                <li>Reset the position of the clock to its default position from the settings page</li>
                            </ul>
                        <li>Surge now opens to the settings page instead of the main page on initial install</li>
                        <li>Highlighted "Select search method below" text when search methods are unset to better catch user's attention</li>
                        <li>Made opacity change when options become disabled as a result of enabling other options to improve clarity</li>
                        <li>Added visual cue when pressing save button in settings to better indicate that the action took place</li>
                    </ul>
                </div>
                
                <div class="col-xs-6 changelogContent">
                    <h3>Bug Fixes</h3>
                    <ul>
                        <li>Fixed weather not refreshing when clicking weather icon on the main page</li>
                    </ul>
                </div>

            </div>
 
            <hr>
            
            <div class="row">
                <div class="col-xs-12 changelogContent">
                    <a href="#!/home"><button type="button" class="btn btn-success">Got It!</button></a>
                </div>
            </div>
            
        </div>

    </div>
</div>


